In [ ]:
import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
projectPath = os.getcwd()
projectPath

'/media/claudinei/CPJR/CURSOS/datascience_study/aula9'

In [ ]:
dataframe_hist_raw = pd.read_csv("amzn-anon-access-samples-history-2.0.csv")
dataframe_hist_raw

,ACTION,TARGET_NAME,LOGIN,REQUEST_DATE,AUTHORIZATION_DATE
0,remove_access,11044,45813,2005-03-25 10:53:40,2005-03-25 10:53:41
1,add_access,11044,65766,2005-03-25 10:55:46,2005-03-25 10:55:47
2,add_access,9521,72531,2005-04-04 13:51:33,2005-04-06 10:21:48
3,add_access,9521,72531,2005-04-04 13:52:01,2005-04-06 10:21:48
4,add_access,9521,72531,2005-04-04 13:52:11,2005-04-06 10:21:49
...,...,...,...,...,...
716058,add_access,8448,64480,2010-08-31 16:30:22,2010-08-31 16:30:22
716059,add_access,8448,42430,2010-08-31 16:30:22,2010-08-31 16:30:22
716060,add_access,8448,33728,2010-08-31 16:30:22,2010-08-31 16:30:22
716061,add_access,8448,42609,2010-08-31 16:30:22,2010-08-31 16:30:22
716062,add_access,8448,74189,2010-08-31 16:30:22,2010-08-31 16:30:22

In [ ]:
dataframe_sample_raw = pd.read_csv("amzn-anon-access-samples-2.0.csv", nrows=10000)
dataframe_sample_raw

KeyboardInterrupt: